.happy-heading{
    /* OUR HAPPY CUSTOMERS */

position: absolute;
width: 654px;
height: 58px;
padding-bottom: 10px;
font-family: 'Integral CF';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height */
display: flex;
align-items: center;
margin-bottom: 50px;
color: #000000;
}
.left-arrow{
    /* arrow-left*/

position: absolute;
width: 24px;
height: 24px;
left: 1170px;
top: -10px;

}
.right-arrow{
    /* arrow-right */

position: absolute;
width: 24px;
height: 24px;
left: 1200px;
top: -10px;
}
.cus{
box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 28px 32px;
gap: 24px 342px;

position: absolute;
left: 120px;
top: 3400px;
}
.review-detail{

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 6.49px;
left: 2px;
width: 138.84px;
height: 22.58px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

@media only screen and (max-width: 320px){
    .happy-heading{
      /* OUR HAPPY CUSTOMERS */

width: 286px;
height: 72px;
left:10px;
top: -70px;
font-weight: 700;
font-size: 32px;
line-height: 36px;
    }
    .cus{
  
width: 358px;
height: 186.19px;
left: 16px;
top: 3200px;

    }
    .right-arrow{
  
width: 24px;
height: 24px;
left: 330px;
top: -30px;
    }
    .left-arrow{
        width: 24px;
height: 24px;
left: 300px;
top: -30px;
    }
}