
.footer-bg{
    position: absolute;
    width: 1441px;
    height: 499px;
    left: calc(50% - 1441px/2 - 0.5px);
    top: 3871px;
    background: #F0F0F0;
    
    }
    .update-bg{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 64px;
    gap: 153px;
    
    position: absolute;
    width: 1240px;
    height: 180px;
    left: 100px;
    top: -100px;
    
    background: #000000;
    border-radius: 20px;
    
    }
    .update-head{
        /* STAY UPTO DATE ABOUT OUR LATEST OFFERS */
    
    margin: 0 auto;
    width: 551px;
    height: 94px;
    
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    
    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
    }
    .update-email{
    
    
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 12px;
    
    width: 349px;
    height: 48px;
    
    background: #FFFFFF;
    border-radius: 62px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    
    }
    .subscribe-button{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    
    width: 349px;
    height: 46px;
    color: black;
    background: #FFFFFF;
    border-radius: 62px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
    }
    .footer-logo{
        /* SHOP.CO */
    
    width: 167px;
    height: 23px;
    
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-size: 33.4545px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .footer-para{
        /* We have clothes that suits your style and which you’re proud to wear. From women to men. */
    
    width: 248px;
    height: 66px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    color: rgba(0, 0, 0, 0.6);
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    .footer-detail-layout{
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    margin: 0 auto;
    width: 248px;
    height: 177px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 150px;
    margin-left: 100px;
    }
    
    .footer-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 26px;
        
        margin: 0 auto;
        width: 149px;
        height: 177px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.6);
        margin-top: -170px;
        margin-left: 500px;

    }
.footer-list-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
    
    margin: 0 auto;
    width: 149px;
    height: 177px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: -170px;
    margin-left: 500px;

}    
    
    .footer-index{
        /* HELP MENU */
    
    width: 118px;
    height: 18px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #000000;
    
    }
    .info{
        /* © 2000-2021, All rights reserved */
    
    position: absolute;
    width: 269px;
    height: 19px;
    left: 100px;
    top: 450px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    
    color: rgba(0, 0, 0, 0.6);
    }
    .payment{
        /* cards */
    
    width: 46.61px;
    height: 30.03px;
    /* Neutral Colors/White */
    background: #FFFFFF;
    box-shadow: 0px 4.48214px 8.96429px rgba(183, 183, 183, 0.08), 0px 0.448214px 4.48214px rgba(183, 183, 183, 0.08);
    border-radius: 5.37857px;
    
    }
    @media screen and (max-width: 320px) {
        .update-bg{
          
width: 358px;
height: 293px;
left: 16px;
top: -70px;
display: inline;

        }
        .footer-bg{
      
width: 392px;
height: 846px;
left: calc(50% - 392px/2);
top: 3615px;

        }
        .update-head{
            /* STAY UPTO DATE ABOUT OUR LATEST OFFERS */

width: 297px;
height: 105px;
left: 24px;
top: 32px;

font-weight: 700;
font-size: 32px;
line-height: 35px;

        }
.footer-detail-layout{
position: absolute;
width: 357px;
height: 40px;
left: -30px;
top: 90px;

font-weight: 400;
font-size: 14px;
line-height: 20px;

}
.update-email{
   
padding: 12px 16px;
gap: 12px;

width: 280px;
height: 42px;
left: calc(50% - 311px/2 + 0.5px);
top: 169px;

}
.subscribe-button{
 
padding: 12px 16px;
gap: 12px;

width: 280px;
height: 42px;
left: 24px;
top: 223px;

}
.payment{

position: absolute;
width: 46.61px;
height: 30px;
left:-900px;
top: 70px;

}
.info{
    /* © 2000-2021, All rights reserved */

width: 269px;
height: 19px;
left: calc(50% - 269px/2 + 0.5px);
top: 750px;

font-weight: 400;
font-size: 14px;
line-height: 19px;

}
.footer-list{
    
display: inline;
flex-direction: column;
align-items: flex-start;
padding: 0px;


position: absolute;
width: 91px;
height: 146px;
left: -460px;
top: 570px;
}
.footer-list-2{
    display: inline;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
 
    position: absolute;
    width: 91px;
    height: 146px;
    left: -900px;
    top: 750px;
}

    }